<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/duck.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> QuackBook </h3>
    <!--
    <ul>
      <li> Featured Skills</li>
    </ul>
    -->
    <p>A Facebook clone with some lil' duckies (because why not, I mean)</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=L_jWHffIx5E">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/goose.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Honker </h3>
    <!--
    <ul>
      <li> Featured Skills</li>
    </ul>
    -->
    <p>Are you tired about people arguing and whining on Twitter for absolutely no reason? Just use Honker instead, where peace was never an option!</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Check it out</a>
  </div>
</div>
